@import '../_colors.scss';
@import '../mixins/_active-shadow.scss';

$buttons-user-select: none;
$buttons-use-transition: true;

.button {
  border-radius: 8px;
  border-style: none;
  padding: 10px;
  outline: none;
  cursor: pointer;
  user-select: $buttons-user-select;
  font-size: 18px;
  width: auto;

  @if $buttons-use-transition {
    transition: .2s;
    transition-property: color, background-color, border-color, box-shadow;
  }
}

@each $name, $color in $colors {
  .button-is-#{$name} {
    background-color: $color;
    &:hover {
      background-color: darken($color, 5);
    }
    &:focus, &:active {
      background-color: darken($color, 7);
      @include active-shadow($color);
    }
  }


  .button-is-#{$name}-outlined {
    border-color: $color;
    border-style: solid;
    background: none;
    border-width: 3px;

    &:hover {
      border-color: darken($color, 5);
    }
    &:focus, &:active {
      border-color: darken($color, 7);
      @include active-shadow($color);
    }
  }
}