@import '../variables/_breakpoints.scss';

$displays: block, inline, inline-block, none, flex, grid, inline-grid, inline-flex;

@each $display in $displays {
  .display-as-#{$display} {
    display: $display;
  }

  @each $name, $size in $breakpoints {
    @media (max-width: $size) {
      .display-as-#{$display}-#{$name} {
        display: $display;
      }
    }
  }
}