@import '../variables/_breakpoints.scss';
@import '../variables/_configuration.scss';

$indents-sides: left, right, top, bottom;
$indents-sizes: (
  'none': 0,
  'tiny': $spacer * .25,
  'small': $spacer * .5,
  'regular': $spacer,
  'big': $spacer * 1.5,
  'huge': $spacer * 3,
  'auto': auto
);

@each $name, $size in $indents-sizes {
  .margin-is-#{$name} {
    margin: $size;
  }

  @if $name != 'auto' {
    .padding-is-#{$name} {
      padding: $size;
    }
  }


  @each $side in $indents-sides {
    .margin-is-#{$side}-#{$name} {
      margin-#{$side}: $size;
    }

    @if $name != 'auto' {
      .padding-is-#{$side}-#{$name} {
        padding-#{$side}: $size;
      }
    }
  }

  @each $bp-name, $breakpoint in $breakpoints {
    @media (max-width: $breakpoint) {
      .margin-is-#{$name}-#{$bp-name} {
        margin: $size;
      }

      @if $name != 'auto' {
        .padding-is-#{$name}-#{$bp-name} {
          padding: $size;
        }
      }

      @each $side in $indents-sides {
        .margin-#{$side}-is-#{$name}-#{$bp-name} {
          margin-#{$side}: $size;
        }
        @if $name != 'auto' {
          .padding-#{$side}-is-#{$name}-#{$bp-name} {
            padding-#{$side}: $size;
          }
        }
      }
    }
  }
}